/1_Data_Cleaning/.ipynb_checkpoints/*
/1_Data_Cleaning/1_DC_Python_Data/*.csv
/2_Data_Acquisition/.ipynb_checkpoints/*
/2_Data_Acquisition/*.json
/2_Data_Acquisition/*.log
/3_Data_Storytelling/.ipynb_checkpoints/*
/3_Data_Storytelling/data/*
/3_Data_Storytelling/*.RData
/4_End-to-End_Project/People_Counting_From_Video_Feed/PoC/example_dataset/*
/4_End-to-End_Project/People_Counting_From_Video_Feed/PoC/faster_rcnn/*
/5_Playground/*.old.*
/5_Playground/.ipynb_checkpoints/*
/5_Playground/datasets/*
/5_Playground/submissions/*
/5_Playground/apikeys/*
/5_Playground/movie_genre_prediction/*
/.ipynb_checkpoints/*
