/1_Data_Cleaning/1_DC_Python_Data/*.csv
/2_Data_Acquisition/.ipynb_checkpoints/*
/2_Data_Acquisition/*.json
/2_Data_Acquisition/*.log
/5_Playground/.ipynb_checkpoints/*
/5_Playground/datasets/*
/ipynb_checkpoints/*
